@font-face {
  font-family: 'iconfont';  /* project id 2112749 */
  src: url('//at.alicdn.com/t/font_2112749_gmjo75fdjnu.eot');
  src: url('//at.alicdn.com/t/font_2112749_gmjo75fdjnu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2112749_gmjo75fdjnu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2112749_gmjo75fdjnu.woff') format('woff'),
  url('//at.alicdn.com/t/font_2112749_gmjo75fdjnu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2112749_gmjo75fdjnu.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6b9";
}

.icon-bilibili:before {
  content: "\e6b4";
}
